@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    --light-blue-100:#F3F5FC;
    --light-blue-200:#EFF1FA;
    --light-blue-300:#E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500:#757FB2;
    --gray-100:#CED4DA;
    --gray-200:#ADB5BD;
    --gray-300:#868E96;
    --gray-400:#495057;
    --gray-500:#343A40;
    --font-first:"Inter", sans-serif;

}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--font-first);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--light-blue-100);
}
/* Globales */
h1, h2, h3, h4{
    margin: 0 0 2rem 0;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 95rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
h1{
    font-size: 4rem;
    box-shadow: inset;
}
h3{
    font-size: 2.4rem;
    color: var(--gray-500);
}
@media (min-width: 900px){
    h3{
        font-size: 3rem;
    }
}
.btn{
    display: block;
    color: var(--light-blue-200);
    border-radius: 24px;
    font-weight: 700;
    padding: 1rem;
    transition: background-color .3s ease;
    text-align: center;
    border: none;
    width: 100%;
}
.btn-primary{
    background-color: var(--dark-blue-300);
}
.btn-secondary{
    border: 2px solid var(--light-blue-400);
    border-color: var(--dark-blue-300);
    background-color: var(--light-blue-200);
    color: var(--dark-blue-400);
    
}
.btn-primary:hover{
    background-color: var(--dark-blue-500);
    cursor: pointer
}
.sect-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
    margin: 2rem;
}



.input-encrip{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.output-encrip{
    background-color: snow;
    border-radius: 2.4rem;
}
.output-encrip-field{
    padding: 2rem;
}
.input-encrip input{
    width: 100%;
    border: none;
    height: 30rem;
    font-size: 2.5rem;
    background-color: transparent;
    color: var(--dark-blue-300);
    padding: 3rem;
    font-weight: 700;
    
}
.input-encrip input::placeholder{
    color: var(--dark-blue-300);
}

.input-encrip-btns{
    display: flex;
    flex-direction:column;
    gap: 1.2rem;
    
}
.output-encrip-field img{
    display: none;
}
@media (min-width: 900px){
    .sect-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
        margin: 0
    }
    .input-encrip-btns{
        display: flex;
        flex-direction:row;
        row-gap: 1.2rem;
    }
    .output-encrip-field img{
        display:block
    }
}

.foo{
    background-color: var(--dark-blue-400);
    color: var(--gray-100);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    font-size: 1.8rem;

}